<div class="panel panel-flat">
    <div class="panel-body">
        <div class="row">
            {{ macros.input(edit_form.title) }}
        </div>
    </div>
    <div class="panel-footer">
        {% include 'adminTemplate/saveAndResetFormFooter.html.twig' %}
    </div>
</div>
{% include '@PNSeo/Administration/Seo/seo.html.twig' with { 'seoForm':edit_form.seo, 'entity':seoPage } %}